---
interface Props {
  image: string;
  title: string;
  category: string;
  link: string;
  linkLabel: string;
}

const { category, image, link, title, linkLabel } = Astro.props;
---

<article class="main__project">
  <figure class="main__figure">
    <img
      src={`/images/${image}`}
      alt={`Cover proyecto ${title}`}
      class="main__image"
    />
  </figure>
  <section class="main__content">
    <h3 class="main__project-title">{title}</h3>
    <p class="main__category">Category: {category}</p>
    <a href={link} class="main__button" target="_blank">{linkLabel}</a
    >
  </section>
</article>
