---
import type { TypeProject } from '../types/types';

interface Props {
  cover: string;
  title: string;
  type: TypeProject;
  url: string;
}

const { type, cover, url, title } = Astro.props;

const LINK_LABELS = {
  Design: 'View desing',
  Challenge: 'View challenge',
  'Frontend Web': 'View project',
} as const;
---

<article class="main__project">
  <figure class="main__figure">
    <img
      src={`${cover}`}
      alt={`Cover proyecto ${title}`}
      class="main__image"
    />
  </figure>
  <section class="main__content">
    <h3 class="main__project-title">{title}</h3>
    <p class="main__category">Category: {type}</p>
    <a href={url} class="main__button" target="_blank">
      {LINK_LABELS[type]}
    </a>
  </section>
</article>
